<h3>
  <small> Scrum Board
  </small>
  <br/>
  <%= @project.name %>
</h3>
<hr/>
<%= form_tag(board_index_path, :method => "get") do %>
    <%= hidden_field_tag :project, @project.id %>

    <div class="row">
      <div style="width: 80px; vertical-align: middle; padding-top: 5px;" class="col-xs-1">
        <%= label_tag(:sprint, "Sprint") %>
      </div>
      <div class="col-xs-3">
        <%= select_tag :sprint, options_for_select(@sprints.all.collect{|mt| [mt.name, mt.id]}.insert(0, "All"), :selected => @sprint_id), :class => 'form-control' %>
      </div>
      <div>
        <%= submit_tag("Refresh", :class => 'btn btn-default') %>
      </div>
    </div>
<% end %>
<hr>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Backlog</th>
    <th>New</th>
    <th>In Progress</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody>

  <% @items.each do |item| %>
      <tr>
        <td style="width: 220px;">
          <div class="userstory <%= item.priorty %>">
            <div class="caption">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <h5><%= item.title %></h5>
              <p><%= item.description %></p>
            </div>
          </div>
          <br>
          <%= link_to '+ Task hinzufügen', new_task_path(:backlog => item.id, :returnUrl => request.original_url), data: {toggle: "modal", target: "#modal"} %>
        </td>
        <td width="27%">
          <% item.tasks.where(:state => :New).each do |t| %>
              <div class="task <%= t.priority %>">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id, :returnUrl => request.original_url), data: {toggle: "modal", target: "#modal"} %>
              </div>
          <% end %>
          <br>
        </td>
        <td width="27%">
          <% item.tasks.where(:state => :InProgress).each do |t| %>
              <div class="task <%= t.priority %>">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id, :returnUrl => request.original_url), data: {toggle: "modal", target: "#modal"} %>
              </div>
          <% end %>
        </td>
        <td width="27%">
          <% item.tasks.where(:state => :Done).each do |t| %>
              <div class="task <%= t.priority %>">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id, :returnUrl => request.original_url), data: {toggle: "modal", target: "#modal"} %>
              </div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
