<h3>
  <small><%= @project.name %></small>
  <br/>
  Scrum Board
</h3>
<hr/>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Backlog</th>
    <th>New</th>
    <th>In Progress</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody>

  <% @items.each do |item| %>
      <tr>
        <td style="width: 200px;">
          <div class="userstory">
            <div class="caption">
              <h5><%= item.title %>></h5>
              <p><%= item.description %></p>
            </div>
          </div>
          <br>

          <%= link_to '+ Task hinzufügen', new_task_path(:backlog => item.id) %>

        </td>
        <td>


          <% item.tasks.where(:state => :New).each do |t|  %>
              <div class="task">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id) %>
              </div>
          <% end %>


          <br>
        </td>
        <td>

          <% item.tasks.where(:state => :InProgress).each do |t|  %>
              <div class="task">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id) %>
              </div>
          <% end %>
        </td>
        <td>

          <% item.tasks.where(:state => :Done).each do |t|  %>
              <div class="task">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id) %>
              </div>
          <% end %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>