<h3>
  <small> Scrum Board
  </small>
  <br/>
  <%= @project.name %>
</h3>
<hr/>



<div class="row">
  <div style="width: 80px; vertical-align: middle; padding-top: 5px;" class="col-xs-1">
    Sprint
  </div>
  <div class="col-xs-3">
    <select class="form-control">
      <option>Alle</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div>

    <%= link_to 'Scrum Board', board_index_path(:project => @project.id) %> |
    <button class="btn btn-default" type="submit">Aktualisieren</button>
  </div>
</div>
<hr>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Backlog</th>
    <th>New</th>
    <th>In Progress</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody>

  <% @items.each do |item| %>
      <tr>
        <td style="width: 220px;">
          <div class="userstory">
            <div class="caption">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <h5><%= item.title %></h5>
              <p><%= item.description %></p>
            </div>
          </div>
          <br>
          <%= link_to '+ Task hinzufügen', new_task_path(:backlog => item.id), data: {toggle: "modal", target: "#modal"} %>
        </td>
        <td width="27%">
          <% item.tasks.where(:state => :New).each do |t| %>
              <div class="task">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id), data: {toggle: "modal", target: "#modal"} %>
              </div>
          <% end %>
          <br>
        </td>
        <td width="27%">
          <% item.tasks.where(:state => :InProgress).each do |t| %>
              <div class="task">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id), data: {toggle: "modal", target: "#modal"} %>
              </div>
          <% end %>
        </td>
        <td width="27%">
          <% item.tasks.where(:state => :Done).each do |t| %>
              <div class="task">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                <%= link_to t.title, edit_task_path(:id => t.id), data: {toggle: "modal", target: "#modal"} %>
              </div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>