<h3>
  <small>
    Backlog
  </small>
  <br/>
  <%= @project.name %>

</h3>
<hr/>

<%= link_to '+ Backlogitem hinzufügen', new_backlogitem_path(:project => @project.id ),  data: {toggle: "modal", target: "#modal"} %>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link "title" %></th>
      <th>Creationdate</th>
      <th>Assignedto</th>
      <th>State</th>
      <th>Priorty</th>
      <th>Effort</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @backlogitems.each do |backlogitem| %>
      <tr>
        <td><%= link_to backlogitem.title, edit_backlogitem_path(backlogitem), data: {toggle: "modal", target: "#modal"}  %></td>
        <td><%= backlogitem.creationdate %></td>
        <td><%= backlogitem.assignedto %></td>
        <td><%= backlogitem.state %></td>
        <td><%= backlogitem.priorty %></td>
        <td><%= backlogitem.effort %></td>
        <td><%= link_to 'Löschen', backlogitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
