<h3>
  <small>
    Backlog
  </small>
  <br/>
  <%= @project.name %>
</h3>
<hr/>

<%= link_to '+ Backlogitem hinzufügen', new_backlogitem_path(:project => @project.id ),  data: {toggle: "modal", target: "#modal"} %>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th><%= sort_link "title" %></th>
      <th>Priorty</th>
      <th>Assignedto</th>
      <th>State</th>
      <th>Effort</th>
      <th>Sprint</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @backlogitems.each do |backlogitem| %>
      <tr>
        <td><%= link_to backlogitem.title, edit_backlogitem_path(backlogitem), data: {toggle: "modal", target: "#modal"}  %></td>
        <td><%= backlogitem.priorty %></td>
        <td><%= backlogitem.assignedto %></td>
        <td><%= backlogitem.state %></td>
        <td><%= backlogitem.effort %></td>
        <td><%= backlogitem.sprint_id %></td>
        <td><%= link_to 'Löschen', backlogitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
