<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @backlogitem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @backlogitem.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @backlogitem.author %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @backlogitem.creationdate %>
</p>

<p>
  <strong>Author:</strong>
  <%= @backlogitem.author %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @backlogitem.creationdate %>
</p>

<p>
  <strong>Assignedto:</strong>
  <%= @backlogitem.assignedto %>
</p>

<p>
  <strong>State:</strong>
  <%= @backlogitem.state %>
</p>

<p>
  <strong>Priorty:</strong>
  <%= @backlogitem.priorty %>
</p>

<p>
  <strong>Effort:</strong>
  <%= @backlogitem.effort %>
</p>

<%= link_to 'Edit', edit_backlogitem_path(@backlogitem) %> |
