<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Creationdate</th>
      <th>Assignedto</th>
      <th>State</th>
      <th>Priority</th>
      <th>Remainingwork</th>
      <th>Effort</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.author %></td>
        <td><%= task.creationdate %></td>
        <td><%= task.assignedto %></td>
        <td><%= task.state %></td>
        <td><%= task.priority %></td>
        <td><%= task.remainingwork %></td>
        <td><%= task.effort %></td>
        <td><%= task.sprint_id %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
