<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @task.author %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @task.creationdate %>
</p>

<p>
  <strong>Assignedto:</strong>
  <%= @task.assignedto %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Remainingwork:</strong>
  <%= @task.remainingwork %>
</p>

<p>
  <strong>Effort:</strong>
  <%= @task.effort %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
