<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4>Meine Projekte</h4>
      <% @myprojects.each do |p| %>
          <%= link_to project_path(:id => p.id), class: "tile" do %>
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              <div class="name"><%= p.name %></div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h4>Roadmap</h4>
      <% data = @projects.pluck(:name, :startDate, :dueDate) %>
      <%= timeline data %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <h4>Meine Aufgaben</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>State</th>
        <th>Priority</th>
        <th>Effort</th>
        <th>Sprint</th>
      </tr>
      </thead>

      <tbody>
      <% @mytasks.each do |task| %>
          <tr>
            <td class="<%= task.priority %>"><%= link_to task.title, edit_task_path(:id => task.id, :returnUrl => request.original_url), data: {toggle: "modal", target: "#modal"} %></td>
            <td><%= task.state %></td>
            <td><%= task.priority %></td>
            <td><%= task.effort %></td>
            <td>
              <% if task.sprint_id.to_i != 0 %>
                  <%= Sprint.find(task.sprint_id.to_i).name %>
              <% end %>
            </td>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

