

<h3>
  <small>
    Sprints
  </small>
  <br/>
  <%= @project.name %>
</h3>
<hr/>
<%= link_to '<span class="glyphicon glyphicon-plus"></span> Sprint anlegen'.html_safe, new_sprint_path(:project => @project.id ), data: {toggle: "modal", target: "#modal"} %>
</div>
<hr/>


<table class="table">
  <thead>
  <tr>
    <th>Titel</th>
    <th>startDate</th>
    <th>endDate</th>
    <th>Aufwand</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @sprints.each do |sprint| %>
      <tr>
        <td><%= link_to sprint.name,  sprint %></td>
        <td><%= sprint.startDate %></td>
        <td><%= sprint.endDate %></td>
        <td><%= sprint.remainingWork %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_sprint_path(sprint) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>
