<h3>
  <small>
    Sprints
  </small>
  <br/>
  <%= @project.name %>
</h3>
<hr/>
<%= link_to '<span class="glyphicon glyphicon-plus"></span> Sprint anlegen'.html_safe, new_sprint_path(:project => @project.id, :returnUrl => request.original_url ), data: {toggle: "modal", target: "#modal"} %>
<hr/>


<table class="table">
  <thead>
  <tr>
    <th>name</th>
    <th>startDate</th>
    <th>endDate</th>
    <th>remainingWork</th>
  </tr>
  </thead>
  <tbody>
  <% @sprints.each do |sprint| %>
      <tr>
        <td><%= link_to sprint.name,  edit_sprint_path(sprint, :returnUrl => request.original_url), data: {toggle: "modal", target: "#modal"} %></td>
        <td><%= sprint.startDate.strftime("%d.%m.%Y") %></td>
        <td><%= sprint.endDate.strftime("%d.%m.%Y") %></td>
        <td>
          <% if sprint.startDate < Date.today && sprint.endDate > Date.today %>
              <span class="label label-warning">In Progress</span>
        <% end %>
          <% if sprint.startDate < Date.today && sprint.endDate < Date.today %>
              <span class="label label-success">Done</span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

