<div class="container">
  <h3>Sprints <td><%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_sprint_path(:project => @project.id ) %></td></h3>

</div>
<hr/>


<table class="table">
  <thead>
  <tr>
    <th>Titel</th>
    <th>Beschreibung</th>
    <th>Status</th>
    <th>Aufwand</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% Sprint.all.each do |sprint| %>
      <tr>

        <td><%= link_to sprint.name,  sprint %></td>
        <td><%= sprint.startDate %></td>
        <td><%= sprint.effort %></td>
        <td><%= sprint.remainingWork %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_sprint_path(sprint) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</div>
<hr/>


