<div class="container">

  <h3>
    <small>  <%= @sprint.startDate %> - <%= @sprint.endDate %></small>
    <br/>
    <%= @sprint.name %> <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_sprint_path(@sprint) %>
  </h3>
</div>
<hr/>


<table class="table">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th>Status</th>
      <th>Aufwand</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
        <tr>

          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.state %></td>
          <td><%= task.effort %></td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>
<hr/>

