<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @project.dueDate %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @project.startDate %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= link_to 'New Backlogitem', new_sprint_path(:project => @project.id ) %>

