<div class="container">

  <h3>
    <small>Burndown Chart</small>
    <br/>

  </h3>
</div>
<hr/>
<div class="container">
  <%
    @sprints.each do |i|
      %>
        <h1>
          <%= link_to i.name, burndown_index_path(:project => @project.id, :sprint => i.id) %>
        </h1>
      <%= @tageImSprint %>
      <%= @scrumPoints %>
      <%= @averagePoints %>
      <%= @aufwand %>
      <%
    end
  %>

</div>
<hr>
<div class="container">

  <% if @sprint != nil%>
      <div class="col-xs-12">
        <%= line_chart [{'data': @serieAverage, 'name': 'Ideal'},
                        {'data': @serieReal, 'name': 'Remain'}],
                       {library: {hAxis: {title: "Tage"}, vAxis: {title: "Story Points"}}} %>
      </div>
  <% else %>
    <p>Bitte wählen Sie einen Sprint aus der Liste aus!</p>
  <% end %>


</div>
